/* MenuItem.css */
.menu-item {
	display: flex;
	margin-bottom: 20px;
}

.menu-item img {
	width: 400px;
	height: 400px;
	margin-right: 20px;
}

.menu-item .name {
	font-size: 2em;
}

.menu-item .price {
	font-size: 1.2em;
	color: red;
}

.menu-item .description {
	color: black;
	font-family: 'Meiryo', sans-serif;
}
      